<div class="setting-Main">
    <h3 class="page-title">Account Settings</h3>                
    <div class="plansContainer">
        <form class="login_signUp_box" ng-submit="settingFormSubmit(settingForm)" novalidate name="settingForm">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group" ng-class="{'has-success': settingForm.first_name.$valid && settingSub, 'has-error': settingForm.first_name.$invalid && settingSub }">
                        <input type="text" name="first_name" class="form-control" ng-model="setting.first_name"
                               required placeholder="First Name"/>
                        <p class="help-block" ng-show="settingForm.first_name.$error.required && settingSub">
                            First name is required
                        </p>
                    </div> 
                </div>
                <div class="col-sm-4">
                    <div class="form-group" ng-class="{'has-success': settingForm.last_name.$valid && settingSub, 'has-error': settingForm.last_name.$invalid && settingSub }">
                        <input type="text" name="last_name" class="form-control" ng-model="setting.last_name"
                               required placeholder="Last Name"/>
                        <p class="help-block" ng-show="settingForm.last_name.$error.required && settingSub">
                            Last name is required
                        </p>
                    </div> 

                </div>
                <div class="col-sm-4">
                    <div class="form-group full_width" ng-class="{ 'has-success': settingForm.email.$valid && settingSub,
                                                  'has-error': settingForm.email.$invalid && settingSub }">
                        <input type="email" name="email" class="form-control" ng-model="setting.email"
                               required
                               mongoose-error placeholder="Email address"/>
                        <p class="help-block" ng-show="settingForm.email.$error.email && settingSub">
                            Doesn't look like a valid email.
                        </p>
                        <p class="help-block" ng-show="settingForm.email.$error.required && settingSub">
                            What's your email address?
                        </p>
                     

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                         <select class="form-control" name="timeZone" ng-model="setting.timeZone">
                             <option value="">GMT</option>
                            <option value="001">001</option>
                            <option value="002">002</option>
                            <option value="003">003</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <input type="button" value="Change Password" class="btn btn-default">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group"  ng-class="{'has-success': settingForm.notificationChange.$valid && settingSub, 'has-error': settingForm.notificationChange.$invalid && settingSub }">
                        <label>Notifications &nbsp;&nbsp;</label>
                         <select class="form-control" name="notificationChange" ng-model="setting.notificationChange">
                            <option value="on">on</option>
                            <option value="off">off</option>
                        </select>
                    </div>
                  </div>
                <div class="col-sm-4"> 
                    <div class="form-group"  ng-class="{'has-success': settingForm.colorChange.$valid && settingSub, 'has-error': settingForm.colorChange.$invalid && settingSub }">
                        <label> Calendar Colour Change &nbsp;&nbsp;</label>
                         <select class="form-control" name="colorChange" ng-model="setting.colorChange">
                            <option value="on">on</option>
                            <option value="off">off</option>
                         </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12"><h3>Create Goals</h3></div>
                <div class="col-sm-4">
                    <div class="form-group" ng-class="{'has-success': settingForm.word_count.$valid && settingSub, 'has-error': settingForm.word_count.$invalid && settingSub }">
                        <label class="label"> Words Count </label>
                        <input type="number" name="word_count" class="form-control" ng-model="setting.word_count"
                               required placeholder="No. of Words" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                         <select class="form-control" name="timePeriod" ng-model="setting.timePeriod">
                            <option value="">Select</option>
                            <option value="day">Day</option>
                            <option value="week">Week</option>
                            <option value="month">Month</option>
                             <option value="year">Year</option>
                         </select>
                    </div>
                </div>
                <div class="col-sm-2 calenderSetting">

                    <div class="input-group calenderNew">
                        <input type="text" id="datepickerID"  class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <input type="submit" value="save" class="btn">
                    </div>
                </div>
            </div>

        </form>
    </div>                 
</div>