<div class="manageCoupon">
    <h2>Coupon Management</h2>
    <div class="coupon-table" ng-if="!isCouponAddEdit">
        <div class="input-group searchSubsci">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search Coupon" ng-model="searchCoupon">
        </div> 
        <table ng-if="couponList.length>0">
            <tr>
                <th>  
                    <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                       Promo-Codes
                        <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                 <th>  
                    <a href="#" ng-click="sortType = 'description'; sortReverse = !sortReverse">
                       Description
                        <span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'description' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                 <th>  
                    <a href="#" ng-click="sortType = 'discount'; sortReverse = !sortReverse">
                  Discount
                        <span ng-show="sortType == 'discount' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'discount' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                 <th>  
                    <a href="#" ng-click="sortType = 'expiry'; sortReverse = !sortReverse">
                  Expiry
                        <span ng-show="sortType == 'expiry' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'expiry' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>  
                    <a href="#" ng-click="sortType = 'noOfUser'; sortReverse = !sortReverse">
                 Max No. of Users
                        <span ng-show="sortType == 'noOfUser' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'noOfUser' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>  
                    <a href="#" ng-click="sortType = 'noOfCouponUsedUsers'; sortReverse = !sortReverse">
              No. of users used
                        <span ng-show="sortType == 'noOfCouponUsedUsers' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'noOfCouponUsedUsers' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="coupon in couponList| orderBy:sortType:sortReverse | filter: searchCoupon">
                <td>{{coupon.name}}</td>
                <td>{{coupon.description}}</td>
                <td>{{coupon.discount}}%</td>
                <td>{{coupon.startDate}} - {{coupon.endDate}}</td>
                <td>{{coupon.noOfUser}}</td>
                <td>{{coupon.noOfCouponUsedUsers}}</td>
                <td ng-if="coupon.status">Active</td>
                <td ng-if="!coupon.status">Inactive</td>
                <td>
                    <span><input type="submit" value="Edit" ng-click ="editCoupon(coupon)"/></span>
                    <span><input type="submit" value="Delete" ng-click="deleteCoupon(coupon)"/></span>
                </td>
            </tr>
        </table>
        <div ng-if="couponList.length<1">No Record Found!</div>
        <div class="addCoupon" ng-click="addCoupon()"> <a href="javascript:void(0);" class="btn">Add</a></div>
    </div>
    <div class="addEditCoupon" ng-if="isCouponAddEdit">
        <form ng-submit="saveCoupon(couponForm)" novalidate name="couponForm">
            <div class="form-group full_width">
                <div class ="row">
                    <div class="col-sm-3">
                        <span ng-if="!file.filename"><img src="assests/images/freeplan.png" style="max-height: 50px;"></span>
                        <span ng-if="file.filename"><img ng-src="assests/images/{{file.filename}}" style="max-height: 50px;"></span>
                    </div>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="file" ng-model="file" name="file" base-sixty-four-input onload="onLoad" maxsize="1000" accept="image/*">
                        </div>
                        <div class="alert" ng-class="{'alert-danger': couponForm.file.$invalid, 'alert-success': couponForm.file.$valid}">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Promo-codes Name</div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="code_name" ng-model="coupon.name"  placeholder="Enter promo code Name"  required/>
                        <p class="help-block" ng-show="couponForm.code_name.$error.required && sub">
                            Promo code name is required
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Description</div>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="coupon_desc" ng-model="coupon.description"
                                  placeholder="Enter Description" required></textarea>
                        <p class="help-block" ng-show="couponForm.coupon_desc.$error.required && sub">
                            Description is required
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Number Of Users</div>
                    <div class="col-sm-9">
                        <input type="text" number-valdation class="form-control" name="number_of_user" ng-model="coupon.noOfUser" placeholder="Enter Number of Users" required/>
                        <p class="help-block" ng-show="couponForm.number_of_user.$error.required && sub">
                            Please enter no of User!
                        </p>
                        <p class="help-block" ng-show="couponForm.number_of_user.$error.numberValdation">
                            Not a valid users, please do correct!
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Discount</div>
                    <div class="col-sm-9">
                        <input type="text" float-value class="form-control" name="coupon_discount" ng-model="coupon.discount" placeholder="Enter Coupon Discount" required/>
                        <p class="help-block" ng-show="couponForm.coupon_discount.$error.required && sub">
                            Please enter coupon discount!
                        </p>
                        <p class="help-block" ng-show="couponForm.coupon_discount.$error.numberPrice">
                            Not a valid discount, please do correct!
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Start Date</div>
                    <div class="col-sm-9 calenderSetting">
                        <div class="input-group calenderNew">
                            <input type="text"  class="form-control" uib-datepicker-popup ng-model="coupon.startDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default dateicon" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">End Date</div>
                    <div class="col-sm-9 calenderSetting">
                        <div class="input-group calenderNew">
                            <input type="text"  class="form-control" uib-datepicker-popup ng-model="coupon.endDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default dateicon" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>

                        </div>
                    </div>
                </div> 
                <div class="row" ng-if="coupon._id" style="margin: 20px;">
                    <div class="col-sm-8"></div>
                     <div class="col-sm-2">
                        <div class="coupon-status">
                            <input type="radio" id="active" ng-model="coupon.status" name="selector" value="true">
                            <label for="active" ng-class="{statusChange: coupon.status === true}">Active</label> 
                        </div>
                    </div>
                     <div class="col-sm-2">
                        <div class="coupon-status">
                            <input type="radio" id="inactive" ng-model="coupon.status" name="selector" value="false">
                            <label for="inactive" ng-class="{statusChange: coupon.status === false}">Inactive</label> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn_wrap full_width">
                            <input type="submit" value="send" class="btn" style="float:right">
                        </div>
                    </div>
                </div>
                <p class="help-block" ng-if="errors.other">{{errors.other}}</p>
            </div>
        </form>
    </div>
</div>