<div id="new-journal-editor"> 
    <div ng-if="!isTopicEditor"> <ng-quill-editor 
              ng-model="journal.journalContent"
              placeholder="override default placeholder" 
              on-editor-created="editorCreated(editor)"
              ng-click="getSelectedText()"
              on-content-changed="contentChanged(editor, html, text, delta)">
        </ng-quill-editor></div>
     <div ng-if="isTopicEditor"> <ng-quill-editor 
              ng-model="journal.journalContent"
              placeholder="override default placeholder" 
              on-editor-created="editorCreated(editor)"
              on-content-changed="topicChanged(editor, html, text, delta)">
        </ng-quill-editor></div>
</div>