<div class="manageDesboard"> 
    <h2>Dashboard</h2>
    <div class="dashboardPanel" style="margin-top: 5%">
        <div class="row">
            <div class="col-sm-6">
                <div class="userStyle">
                    <div class="col-sm-2">
                        <i class="fa fa-users" aria-hidden="true" style="font-size: 34px; color: #00aaef"></i>
                    </div>
                    <div class="col-sm-4 totalUser">
                        <div>Total Users</div>
                        <div>{{totalUsers}}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="userStyle">
                    <div class="col-sm-2">
                        <img src="assests/images/user-icon.png">
                    </div>
                    <div class="col-sm-4 totalUser">
                        <div>Active Users</div>
                        <div>{{activeUsers}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 5%;">
            <div class="col-sm-6" >
                <div class="userStyle">
                    <div class="col-sm-2">
                        <i class="fa fa-user-times" aria-hidden="true" style="font-size: 34px; color: #00aaef"></i>
                    </div>
                    <div class="col-sm-4 totalUser">
                        <div>Inactive Users</div>
                        <div>{{inActiveUsers}}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="userStyle">
                    <div class="col-sm-2">
                        <i class="fa fa-bell-o" aria-hidden="true" style="font-size: 34px; color: #00aaef"></i>
                    </div>
                    <div class="col-sm-4 totalUser">
                        <div>Notification</div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="manageUserText">
            <div><a href="javascript:void(0)" ng-click="addSubAdmin()">Create New User</a></div>
            <div ng-click="manageSubAdmin('list')"><a href="javascript:void(0)">Manage Sub Users</a></div>
        </div>
    </div>
</div>