/*responsive css*/
@media only screen and (max-width : 1399px){ 
    .banner .slick-prev {left: 28px;}
    .banner .slick-next {right: 28px;}
}
@media only screen and (max-width : 1199px){
    .banner .banner_data .data { padding: 153px 0 280px;}
    .banner .banner_data .data p {font-size: 50px;}
    .banner .banner_data .data h3 {font-size: 58px;margin: 30px 0;}
    .poup_up_layer .back_box {height: 265px;padding: 74px 66px;}
    .back_box img { width: 149px;}
}
@media only screen and (max-width : 991px){
    .btn {font-size: 18px;padding: 9px 37px;}
    .heading { margin-bottom: 30px;}
    .heading p {font-size: 18px;line-height: 22px;}
    .heading h3 {font-size: 26px;line-height: 30px;}
   .banner .banner_data .data p { font-size: 35px;}
    .banner .banner_data .data h3 {font-size: 40px; margin: 21px 0;}
    .our_banifit {padding: 58px 0 38px;}
    .banefit_bx .box h3 {font-size: 19px;line-height: 19px;}
    .banefit_bx .box p {font-size: 16px;}
    .our_plans {padding: 54px 0 45px;}
    .our_plans .plans .plan_bx .btn {padding: 11px 40px;}
    .our_plans .plans .plan_bx p {font-size: 18px;line-height: 23px;margin-bottom: 30px;}
    .our_plans .plans .plan_bx span {font-size: 40px;line-height: 44px;margin: 16px 0;}
    .our_plans .plans .plan_bx strong { font-size: 30px;line-height: 30px;}
    .our_plans .plans .plan_bx {padding: 30px 14px;}
    .our_plans .get_start_now { margin-top: 55px;}
    .contact_section {padding: 53px 0;}
    .contact_form .form-control{font-size: 15px;}
    .contact_form .reac_us li a span {font-size: 18px;line-height: 22px; margin-left: 15px;}
    .poup_up_layer .back_box {padding: 74px 37px;}
    .poup_up_layer .box {height: 325px;padding: 40px 50px 40px 86px;}
    .poup_up_layer .box_wrapper .close_icon { right: 0;}
@media only screen and (max-width : 767px){
    .header{position: static;padding: 16px 0px;background: #ececec;}
    .header .nav ul li {padding: 0 8px;}
    .header .nav ul li a {font-size: 14px;line-height: 25px;padding-left: 27px;}
    .banner .banner_data .data {padding: 49px 0 175px;}
    .banner .banner_data .data p {font-size: 28px;}
    .banner .banner_data .data h3 {font-size: 28px;margin: 22px 0;}
    .btn {font-size: 14px; padding: 9px 32px;}
    .heading h3 {font-size: 22px;line-height: 25px;}
    .heading p {font-size: 16px;line-height: 20px;}
    .heading p span{display: inline;}
    .heading {margin-bottom: 22px;}
    .our_plans .plans .plan_bx{margin-bottom: 20px;}
    .banefit_bx { margin-top: 6px;}
    .banefit_bx .box {padding: 17px 17px 36px 53px;}
    .our_banifit { padding: 38px 0 27px;}
    .banefit_bx .box_wrapper { margin-bottom: 20px; padding-left: 40px;}
    .our_plans { padding: 38px 0 37px;}
    .our_plans .get_start_now { margin-top: 23px;}
    .contact_section { padding: 33px 0;}
    .contact_section .heading {margin-bottom: 22px;}
    .contact_form .txt_wrap {margin-bottom: 10px;}
    .contact_form .btn_wrap {margin: 20px 0;}
    .contact_form .reac_us{margin: 0;text-align: left;}
    .footer .footer_top {padding: 30px 0;}
     .banner .slick-prev{width: 20px; height: 30px; background-size: 20px auto;-ms-background-size: 20px auto;-moz-background-size: 20px auto;-webkit-background-size: 20px auto;margin-top: -15px;left: 10px;}
    .banner .slick-next{width: 20px; height: 30px; background-size: 20px auto;-ms-background-size: 20px auto;-moz-background-size: 20px auto;-webkit-background-size: 20px auto;margin-top: -15px;right: 10px;}
    .poup_up_layer .back_box{display: none;}
    .login_signUp .login_signUp_box {margin-left: 0;width: 100%;}
    .login_signUp_box ul li a {font-size: 18px;line-height: 18px;padding: 18px 46px;}
    .close_icon {z-index: 99999;}
    .login_signUp_box .tab_content {padding: 24px 46px 144px;}
    .login_signUp_box .form-group { margin-bottom: 14px;}
    .login_signUp_box .form-control {font-size: 15px;height: 50px;padding: 9px 28px;}
    .login_signUp_box .form-group i {font-size: 17px;line-height: 50px;}
    .login_signUp_box .log_btn_wrap { margin: 14px 0 28px;}
    .close_icon > img {width: 20px;}
    .poup_up_layer .box_wrapper .box_new {height: 94px;margin-top: -47px;width: 94px;}
    .poup_up_layer .box { height: 310px; padding: 37px 43px 38px 68px;}
    .poup_up_layer .box_new  img { width: 42px;}
    .poup_up_layer .box .forget_box{width: 100%;}
    .poup_up_layer .box_wrapper {margin-top: 158px;padding-left: 43px;}
    .poup_up_layer .box h3 {font-size: 22px;line-height: 22px;}
    .poup_up_layer .box p {font-size: 17px;line-height: 18px;}
    .forget_box .form-group { margin-bottom: 27px;}
    .forget_box .form-control {font-size: 15px;height: 50px;padding: 10px 30px;}
    .forget_box .form-group i {font-size: 17px;line-height: 50px;}
    .poup_up_layer#forget_pswd_confirm .box { height: 221px;}
    .poup_up_layer .box_wrapper .close_icon {top: -30px;}
}
@media only screen and (max-width : 479px){
    .header .col-md-2.col-sm-3.col-xs-3{width: 100%;}
    .header .col-md-10.col-sm-9.col-xs-9{width: 100%;}
    .header .logo{width: 100%;float: left;text-align: center;}
    .header .nav ul li { padding: 0 6px;}
    .header .nav {margin: 20px 0 0;text-align: center;width: 100%;float: left;}
    .header .nav ul li a { font-size: 13px;line-height: 25px;padding-left: 25px;}
    .banner .banner_data .data { padding: 33px 0 129px;}
    .banner .banner_data .data p {font-size: 24px;}
    .banner .banner_data .data h3 {font-size: 22px; margin: 15px 0;}   
    .banefit_bx .box_wrapper .box_new {height: 68px;margin-top: -34px; width: 71px;}
    .banefit_bx .box_wrapper {padding-left: 28px;}
    .contact_form .reac_us li a figure {height: 30px;width: 30px;padding-top: 2px;}
    .icons img {width: 14px;}
    .contact_form .reac_us li a span { font-size: 16px;line-height: 19px; margin-left: 5px;}
    .contact_form .reac_us li{margin: 0 0 10px 0;width: 100%;float: left;}
    .contact_form .reac_us li a{display: inline-block;}
    .footer .footer_bottom{text-align: center;}
    .footer .footer_bottom ul{width: 100%;float: left;margin-top: 10px;}
    .login_signUp_box ul li a {font-size: 14px;line-height: 14px; padding: 13px 24px;}
    .login_signUp_box .tab_content { padding: 23px 22px 118px;}
    .poup_up_layer .box_wrapper { margin-top: 150px;padding-left: 28px;}
    .poup_up_layer .box_new img { width: 23px;}
    .poup_up_layer .box_wrapper .box_new {height: 64px;margin-top: -32px;width: 64px;}
    .poup_up_layer .box {height: 230px;padding: 26px 16px 23px 46px;}
    .poup_up_layer .box h3 {font-size: 16px;line-height: 16px;}
    .poup_up_layer .box p {font-size: 14px;line-height: 17px;}
    .forget_box .form-group {margin-bottom: 15px;}
    .poup_up_layer .box .forget_box {float: left;margin-top: 4px;}
    #forget_pswd_confirm.poup_up_layer .box { height: 190px;}
}
