/*********************Reset css start here************************/
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, dl, dt, dd, ul, li, button, fieldset, form, label, legend, blockquote, figure { margin:0; padding:0; border:0; outline:0; vertical-align: baseline; background: transparent; list-style: none;}
img {border:none;max-width:100%;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
a:focus{ outline:0;text-decoration:none;}
a { text-decoration:none; cursor:pointer;transition: all 0.3s ease-in-out 0s;-ms-transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;-webkit-transition: all 0.3s ease-in-out 0s;-o-transition: all 0.3s ease-in-out 0s;}
a:hover{ text-decoration:none;}
.clearfix:after{ content: ".";display: block;clear:both;visibility:hidden;line-height: 0; height: 0;}
body{margin:0;padding:0;-webkit-text-size-adjust: none;font-size: 14px;line-height: 1.4em;font-family: 'Gill Sans MT Pro';font-weight: 300;color: #434343;}
.display_table{display: table;text-align: center;width: 100%;height: 100%;}
.display_table_cell{display: table-cell;vertical-align: middle;height: 100%;}
.full_width{width: 100%;float: left;}
.btn{background:#fff; color: #010101; font-size: 23px;font-family: 'Gill Sans MT Pro';font-weight: 500;border: 1px solid #000000;border-radius: 5px;-ms-border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;text-transform: uppercase;padding: 12px 40px;}
/*header  css*/
.header{padding: 16px 5px; position: absolute;top:0;left: 0;z-index: 999;}
.header .logo{float: left;}
.header .logo a{display: block;}
.header .nav{float: right;margin: 20px 0;}
.header .nav ul{display: inline-block;}
.header .nav ul li {display: inline-block;vertical-align: middle;background: url(../images/nav_li.png)no-repeat; background-position: right center;padding: 0 11px;}
.header .nav ul li:last-child{background: none;padding-right: 0;}
.header .nav ul li a{display: block; font-size:16px;font-weight: 300; color:#000000;font-family: 'Gill Sans MT Pro Book';text-transform: uppercase;padding-left: 30px;line-height: 25px;text-decoration:none; cursor:pointer;transition: all 0.3s ease-in-out 0s;-ms-transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;-webkit-transition: all 0.3s ease-in-out 0s;-o-transition: all 0.3s ease-in-out 0s;}
.header .nav ul li a.new{background: url(../images/new.png)no-repeat;background-position: left center;}
.header .nav ul li a.login{background: url(../images/login.png)no-repeat;background-position: left center;}
.header .nav ul li a.signup{background: url(../images/signup.png)no-repeat;background-position: left center;}
.header .nav ul li.active a.new, .header .nav ul li a.new:hover{background: url(../images/new_hover.png)no-repeat;background-position: left center; color:#00aaef; }
.header .nav ul li.active a.login, .header .nav ul li a.login:hover{background: url(../images/login_hover.png)no-repeat;background-position: left center;color:#00aaef;}
.header .nav ul li.active a.signup, .header .nav ul li a.signup:hover{background: url(../images/signup_hover.png)no-repeat;background-position: left center;color:#00aaef;}
.banner {position: relative;}
.banner .banner_data{width: 100%;float: left;background-size: cover!important;-moz-background-size: cover!important;-ms-background-size: cover!important;-webkit-background-size: cover!important;background-position: bottom center!important;}
.banner .slick-slider{width: 100%;float: left;}
.banner .slick-slider .slick-track, .banner .slick-slider .slick-list{width: 100%;float: left;}
.banner .slick-slide img{width: 100%;float: left;}
.banner .slick-initialized .slick-slide{position: relative;}
.banner .banner_data .data{padding:224px 0 324px;}
.banner .carousel-caption p{color:#000000; font-size: 63px;font-family: 'Gill Sans MT Pro Book';}
.banner .carousel-caption h3{color:#000000; font-size: 80px;font-family: 'Gill Sans MT Pro'; font-weight: 700;text-transform: uppercase;margin: 16px 0;}
.banner .carousel-caption h3 span{color:#00aaef;display: inline-block;}
.banner .banner_data .data .btn{background: #ececec;}
.banner .carousel-caption .btn{
    background:none;
}
.banner .carousel-caption .btn:hover{background: #00aaef;color: #fff; border-color: #00aaef;}
.banner .carousel-control.left{background: url('../images/left.png')no-repeat;left: 60px;width: 38px; height: 58px;margin-top: -29px;z-index: 999;}
.banner .carousel-control.right{background: url('../images/right.png')no-repeat;right: 60px;width: 38px; height: 58px;margin-top: -29px;z-index: 999;}
.our_banifit{background: #f5f5f5; padding: 92px 0 67px;}
.heading{margin-bottom: 60px; text-align: center;}
.heading h3{color: #000000; font-size: 30px; line-height: 35px;font-family: 'Gill Sans MT Pro'; font-weight: 300;text-transform: uppercase;margin-bottom: 8px;}
.heading h3 span{ display: inline-block; font-weight: 700;}
.heading p{ font-size: 21px; line-height: 25px; color: #424242; font-weight: 300;}
.heading p span{display:block;}
.banefit_bx { margin-top: 26px;}
.banefit_bx .box_wrapper{position: relative;padding-left: 44px;margin-bottom: 33px;}
.banefit_bx .box{background: #ffffff;box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.23);-ms-box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.23);-moz-box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.23);-webkit-box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.23);padding: 22px 21px 40px 60px;}
.banefit_bx .box h3{color: #000000; font-weight: 500; font-size: 21px; line-height: 21px ;margin-bottom: 8px;}
.banefit_bx .box p{color: #434343; font-weight: 300; font-size: 19px; line-height: 21px ;}
.banefit_bx .box_wrapper .box_new{width: 85px; height: 70px;background:#00aaef; position: absolute;top:50%;margin-top: -35px;left:0;}
.our_plans{background:#ffffff; padding: 92px 0 80px;}
.our_plans .plans{margin-top: 18px;}
.our_plans .plans .plan_bx{box-shadow: 0px 0px 1px 1px #cccccc;-ms-box-shadow: 0px 0px 1px 1px #cccccc;-moz-box-shadow: 0px 0px 1px 1px #cccccc;-webkit-box-shadow: 0px 0px 1px 1px #cccccc;padding: 45px 26px;transition: all 0.3s ease-in-out 0s;-ms-transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;-webkit-transition: all 0.3s ease-in-out 0s;-o-transition: all 0.3s ease-in-out 0s;}
.our_plans .plans .plan_bx strong{font-weight: 300;color: #000000; font-size: 35px;line-height: 35px;text-transform: uppercase;display: block;}
.our_plans .plans .plan_bx span{font-weight: 300;color: #000000; font-size: 50px;line-height: 50px;display: block;margin: 23px 0;}
.our_plans .plans .plan_bx p{font-weight: 300;color: #434343; font-size: 23px; line-height: 27px;margin-bottom: 47px;}
.our_plans .plans .plan_bx .btn{padding: 12px 51px;}
.our_plans .plans .plan_bx:hover{background: #00aaef;}
.our_plans .plans .plan_bx:hover strong{color: #fff;}
.our_plans .plans .plan_bx:hover span{color: #fff;}
.our_plans .plans .plan_bx:hover p{color: #fff;}
.our_plans .plans .plan_bx:hover .btn{color: #fff;background:transparent;border-color: #fff;}
.our_plans .plans .plan_bx .btn:hover{color: #000;background:#fff;border-color: #fff;}
.our_plans .get_start_now{text-align: center;margin-top: 82px;}
.our_plans .get_start_now .btn{color:#00aaef; border-color: #00aaef;padding: 12px 74px; }
.our_plans .get_start_now .btn:hover{background:#00aaef;color: #fff; }
.contact_section{background: #f5f5f5;padding: 76px 0;}
.contact_section .heading{margin-bottom: 44px}
.contact_form .form-group{margin: 0;}
.contact_form .txt_wrap{width: 100%;float: left; margin-bottom: 47px;}
.contact_form .form-control{font-family: 'Gill Sans MT Pro';height: 48px;background:none;border: 0; border-bottom: 1px solid #000; color: #000;font-weight: 300;font-size: 17px;border-radius: 0;box-shadow: none;padding: 6px 0;}
.txt_wrap .form-control::-webkit-input-placeholder {color:#434343;opacity:1}
.txt_wrap .form-control:-moz-placeholder {color:#434343;opacity:1}
.txt_wrap .form-control::-moz-placeholder { color:#434343;opacity:1}
.txt_wrap .form-control:-ms-input-placeholder { color:#434343;opacity:1}
.txt_wrap .contact_form .placeholdersjs{ color:#434343!important;}
.contact_form textarea.form-control{height: 72px; resize: none;}
.contact_form .btn{color: #00aaef; border-color: #00aaef;padding: 10px 46px;background: transparent;}
.contact_form .btn:hover{background: #00aaef; color: #fff;}
.contact_form .reac_us{width: 100%;float: left;text-align:right;margin-top: 10px;}
.contact_form .reac_us li{display: inline-block; margin-right: 31px;}
.contact_form .reac_us li:last-child{margin: 0;}
.contact_form .reac_us li a{display: block; }
.contact_form .reac_us li a figure{width: 40px;height: 40px; border: 1px solid #333333;border-radius: 50%;-ms-border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;text-align: center;display: inline-block;padding-top: 7px;}
.contact_form .reac_us li a span{display: inline-block;color: #333333; font-size: 20px; line-height: 25px;font-weight: 300;font-family: 'Gill Sans MT Pro';vertical-align: middle;margin-left: 20px;}
.footer{background:#212121;}
.footer .footer_top{padding: 42px 0;border-bottom: 1px solid #363636;}
.footer .footer_top ul{margin-top: 32px;}
.footer .footer_top ul li{display: inline-block;margin: 0 5px;}
.footer .footer_top ul li a{color:#474747;width: 42px; height: 42px; display: block; border: 1px solid #474747; border-radius: 50%;-ms-border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;text-align: center;font-size: 20px;}
.footer .footer_top ul li a i{vertical-align: middle;line-height: 42px;}
.footer .footer_top ul li a:hover{color: #fff; background: #1da1f2;border-color: transparent;}
.footer .footer_bottom{padding: 18px 0;}
.footer .footer_bottom p{color: #828282; font-size: 13px; line-height: 15px;display: inline-block;}
.footer_links ul{display: inline-block;}
.footer .footer_bottom li{display: inline-block;background: url(../images/fot.png)no-repeat;background-position: right center;  padding-right: 10px;margin-right: 13px;}
.footer .footer_bottom li:last-child{background: none;margin: 0;padding: 0;}
.footer .footer_bottom li a{color: #828282;font-size: 13px;font-weight: 300;font-family: 'Gill Sans MT Pro';}
.footer .footer_bottom li a:hover{color: #1da1f2;}


/*Popup css */
.poup_up_layer{width: 100%;float: left;background:rgba(230, 230, 230, 0.93);position: fixed;top:-100%;left: 0;height: 100%;z-index: 9999;overflow-y: scroll;visibility: hidden;opacity: 0;transition: all 0.7s ease-in-out;-ms-transition: all 0.7s ease-in-out ;-moz-transition: all 0.7s ease-in-out;-webkit-transition: all 0.7s ease-in-out;-o-transition: all 0.7s ease-in-out;}
.poup_up_layer.open_layer{visibility: visible;opacity: 1;top:0}
.login_signUp{position: relative;margin: 85px 0;}
.login_signUp .login_signUp_box{width: 472px;float: left;margin-left: 36px;position: relative; z-index: 999;}
.login_signUp_box ul{width: 100%;float: left; position: relative;z-index: 99999;}
.login_signUp_box ul li{float: left;margin-right: 5px;}
.login_signUp_box ul li a{display: block;color: #666666; font-size: 25px; line-height: 25px;background: #cccccc;padding: 20px 56px;font-family: 'Gill Sans MT Pro Book';text-transform: uppercase;text-align: center;}
.login_signUp_box ul li.active a{background: #fff;color: #00aaef;box-shadow: -6px -5px 15px -5px rgba(0, 0, 0, 0.33);-ms-box-shadow: -6px -5px 15px -5px rgba(0, 0, 0, 0.33);-moz-box-shadow: -6px -5px 15px -5px rgba(0, 0, 0, 0.33);-webkit-box-shadow: -6px -5px 15px -5px rgba(0, 0, 0, 0.33);}
.login_signUp_box .tab_content{width: 100%;float: left;background:#fff url(../images/login_bg.jpg)no-repeat; background-position: bottom center;padding: 24px 54px 176px;box-shadow:0px 0px 13px 0px rgba(0, 0, 0, 0.33);-ms-box-shadow:0px 0px 13px 0px rgba(0, 0, 0, 0.33);-moz-box-shadow:0px 0px 13px 0px rgba(0, 0, 0, 0.33);-webkit-box-shadow:0px 0px 13px 0px rgba(0, 0, 0, 0.33); }
.login_signUp_box .tab_content .tab{width: 100%;float: left;}
/*.login_signUp_box .tab_content .tab.ng-scope{display: block;}*/
/*#login{display: block;}*/
.login_signUp_box .form-group{position: relative;margin-bottom: 26px;}
.login_signUp_box .form-group i{position: absolute;height: 100%;top: 0;line-height: 62px;left: 0;color: #434343;width: 25px;font-size: 21px;}
.login_signUp_box .form-control{font-family: 'Gill Sans MT Pro';height: 62px;background:none;border: 0; border-bottom: 1px solid #000; color: #000;font-weight: 300;font-size: 17px;border-radius: 0;box-shadow: none;padding: 10px 30px;transition: all 0.7s ease-in-out;-ms-transition: all 0.7s ease-in-out;-webkit-transition: all 0.7s ease-in-out;-moz-transition: all 0.7s ease-in-out;}
.login_signUp_box .form-control::-webkit-input-placeholder {color:#434343;opacity:1}
.login_signUp_box .form-control:-moz-placeholder {color:#434343;opacity:1}
.login_signUp_box .form-control::-moz-placeholder { color:#434343;opacity:1}
.login_signUp_box .form-control:-ms-input-placeholder { color:#434343;opacity:1}
.login_signUp_box .placeholdersjs{ color:#434343!important;}
.login_signUp_box .log_btn_wrap{margin: 14px 0 49px;}
.log_btn_wrap .btn{color: #fff; border-color: #00aaef;padding: 10px 46px;background:#00aaef; width: 100%;}
.login_signUp_box .form_data a{font-size: 17px; color: #000000;font-family: 'Gill Sans MT Pro'; font-weight: 500; text-transform: uppercase; text-decoration: underline;}
.poup_up_layer .back_box{width: 100%;float: left;height: 303px; position: absolute;top:196px; left: 0; background: #1a99d7;padding: 67px 78px;text-align: right;}
.poup_up_layer .back_box figure{display: inline-block;}
.stopScroll{overflow: hidden;}
.close_icon{position: absolute;top:0;right: 0;display: inline-block;}

.poup_up_layer .box_wrapper{position: relative;padding-left: 74px;margin-top: 190px;}
.poup_up_layer .box{background: #ffffff;box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.23);-ms-box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.23);-moz-box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.23);-webkit-box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.23);padding: 40px 147px;height: 351px;display: table;}
.poup_up_layer .box .box_inner{width: 100%;display: table-cell;vertical-align: middle;}
.poup_up_layer .box h3{color: #000000; font-weight: 300; font-size: 30px; line-height: 30px ;margin-bottom: 8px;text-transform: uppercase;}
.poup_up_layer .box h3 span{font-weight: 700;}
.poup_up_layer .box p{color: #424242; font-weight: 300; font-size: 21px; line-height: 21px ;}
.poup_up_layer .box_wrapper .box_new{width: 142px; height: 126px; background: #00aaef; position: absolute;top: 50%;margin-top: -63px;left: 0;}
.poup_up_layer .box .forget_box{width: 362px;float: left; margin-top: 21px}
.forget_box .form-group{position: relative;margin-bottom: 35px;}
.forget_box .form-group:last-child{margin: 0;}
.forget_box .form-group i{position: absolute;height: 100%;top: 0;line-height: 62px;left: 0;color: #434343;width: 25px;font-size: 21px;}
.forget_box .form-control{font-family: 'Gill Sans MT Pro';height: 62px;background:none;border: 0; border-bottom: 1px solid #000; color: #000;font-weight: 300;font-size: 17px;border-radius: 0;box-shadow: none;padding: 10px 30px;transition: all 0.7s ease-in-out;-ms-transition: all 0.7s ease-in-out;-webkit-transition: all 0.7s ease-in-out;-moz-transition: all 0.7s ease-in-out;}
.forget_box .form-control::-webkit-input-placeholder {color:#434343;opacity:1}
.forget_box .form-control:-moz-placeholder {color:#434343;opacity:1}
.forget_box .form-control::-moz-placeholder { color:#434343;opacity:1}
.forget_box .form-control:-ms-input-placeholder { color:#434343;opacity:1}
.forget_box .placeholdersjs{ color:#434343!important;}
.poup_up_layer .box_wrapper .close_icon{top:-60px;right: -40px;}


.poup_up_layer input:focus::-webkit-input-placeholder {color:#00aaef;transform: translateY(-24px); font-size: 12px;transition: all 0.7s ease-in-out;-webkit-transition: all 0.7s ease-in-out;}
.poup_up_layer input:focus:-moz-placeholder {color:#00aaef;transform: translateY(-24px);font-size: 12px;transition: all 0.7s ease-in-out;-moz-transition: all 0.7s ease-in-out;}
.poup_up_layer input:focus::-moz-placeholder {color:#00aaef;transform: translateY(-24px);font-size: 12px;transition: all 0.7s ease-in-out;-moz-transition: all 0.7s ease-in-out; }
.poup_up_layer input:focus:-ms-input-placeholder {color:#00aaef;transform: translateY(-24px);font-size: 12px;transition: all 0.7s ease-in-out;-ms-transition: all 0.7s ease-in-out; }
.poup_up_layer input:focus{border-color: #00aaef;}
.poup_up_layer input:focus + i{color: #00aaef;}

/* new */
.toggle-menu {
    display: block;
    width: 28px;
    height: 28px;
    color: #ffffff;
    font-size: 34px;
    float: left;
    background-image:none;
}
.notifications{
    color:#ffffff;
    font-size:34px;
    float:right;
    position:relative;
}
.main-page {
  background-color: #ffffff;
  min-height: 1280px;
  margin: 0;
  padding:0;
  top:0;
}
.sidebar-header a,
.sidebar-header .notifications{
    padding:15px;
    cursor:pointer;
}
.sidebar-header a:hover{
    color:#ffffff;
}
.main-header{
    background: #00aaef;
    height: 65px;
    margin-left: 315px;
    padding-left: 30px;
}
.sidebar-header{
    background: #0084c8;
    float: left;
    width: 315px;
    height: 65px;
}
.lateral-slide-menu-scrollable-container h2, .sidenav h2{
    color:#000000;
    text-transform:uppercase;
    font-size:19px;
    display: inline-block;
}
.lateral-slide-menu-scrollable-container .btn-group, .sidenav .btn-group{
    width:95%;
    margin-top: 25px;
}
.lateral-slide-menu-scrollable-container .btn-group .calender-btn, .sidenav .btn-group .calender-btn{
    background: none;
    font-size: 42px;
    color: #000000;
    line-height: 0px;
    float: left;
    width: 30px;
    height: 30px;
    position:relative;
    top:-5px;
}
.sidenav .btn-group .calender-btn i{
    line-height: 0px;
}
.sidenav .btn-group .calender-btn:focus,
.sidenav .btn-group .calender-btn:active{
    background:none;outline:none;
}
.sidenav .btn-group .calender-btn.next{
    float: right;
}
.main-header .date{
    color: #ffffff;
    font-size: 26px;
    padding-top: 21px;
    display:inline-block;
}
.main-header span{
    color: #ffffff;
    font-size: 19px;
    padding-top: 21px;
}
.notifications .notifyList{background: #ffffff;z-index: 99;position: absolute;left: -200px;top: 65px;width: 500px;
    box-shadow: 0px 0px 15px 0px rgb(156, 156, 156);-moz-box-shadow: 0px 0px 15px 0px rgb(156, 156, 156);
    -webkit-box-shadow: 0px 0px 15px 0px rgb(156, 156, 156);-ms-box-shadow: 0px 0px 15px 0px rgb(156, 156, 156);
   -o-box-shadow: 0px 0px 15px 0px rgb(156, 156, 156);display:none;
}
.notifications .count{
    position: absolute;
    top: 7px;
    right: 9px;
    height: 23px;
    width: 23px;
    background: #ffc03a;
    border-radius: 50%;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    line-height: 22px;
}
.top-bar .searchBar .searchBtn{
    position: absolute;
    left: 0px;
    top: 1px;
    color: #ffffff;
    font-size: 16px;
    background: none;
    border: 0px;
    height: 33px;
    width: 30px;
}
.top-bar .searchBar{
    float: right;
    width: 175px;
    position: relative;
    margin-top: 15px;
    margin-right: 15px;
}
.top-bar .searchBar .search{
    padding: 7px 5px 7px 32px;
    border: 1px solid #00aaef;
    background: none;
    font-size: 17px;
    width: 100%;
}
.top-bar .searchBar .search:focus{
    outline:none;    
    border: 1px solid #60c8f3;
}
.notifications:hover .notifyList{
    display:block;
}
.notifications .notifyList li a:hover{
    background:#eef9fd;
}
.notifications .notifyList li a{display: block;margin: 0px 0px;padding: 20px;font-size: 19px;color: #424242;line-height: 23px;}
.search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
.search::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}
.search:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
.search:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}
.sidenav {
    background-color: #ededed;
 }
 .banner .carousel-control{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.banner .carousel-control span{
    display:none;
}
.main-header .userPanel{
    float: right;
    padding: 11px 30px 11px 95px;
    margin-right: 30px;
    border-left: 1px solid #54c6f4;
    border-right: 1px solid #54c6f4;
    position: relative;
}
.main-header .userPanel .usericon{
    position: absolute;
    top: 9px;
    left: 29px;
    height: 47px;
    width: 47px;
    border-radius: 50%;
    background: #ffffff;
    text-align: center;
    line-height: 0px;
    font-size: 22px;
}
.main-header .userPanel .usericon:after{
    content: "\f007";
    font-family: fontawesome;
    color: #00aaef;
   
}
.main-header .userPanel .user{
    color: #ffffff;
    font-size: 19px;
    font-weight: 500;
    display: block;
}
.main-header .userPanel .synchronize{
    color: #ffffff;
    font-size: 15px;
    display: block;
    margin-top: 5px;
}
.main-header .userPanel .usermenu{
    background: #ffffff;
    position: absolute;
    right: 0px;
    top: 65px;
    box-shadow: 0px 0px 15px 0px rgb(156, 156, 156);
    -moz-box-shadow: 0px 0px 15px 0px rgb(156, 156, 156);
    -webkit-box-shadow: 0px 0px 15px 0px rgb(156, 156, 156);
    -ms-box-shadow: 0px 0px 15px 0px rgb(156, 156, 156);
    -o-box-shadow: 0px 0px 15px 0px rgb(156, 156, 156);
    width: 215px;
    z-index:99;
    display:none;
}
.main-header .userPanel:hover .usermenu{
    display:block;
}
.userPanel .usermenu li a:after{
    content: "";
    background: url(../images/user-icons.png) no-repeat 0px 0px;
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
    top: 17px;
    left: 10px;
}
.userPanel .usermenu li.settings a:after{
    background-position: 0px -22px;
}
.userPanel .usermenu li.logout a:after{
    background-position:0px -45px;
}
.userPanel .usermenu li a{
     padding: 18px 15px 18px 45px;
    display: block;
    font-size: 17px;
    color: #414141;
    font-weight: 400;
    position:relative;
}
.userPanel .usermenu li:hover a{
     background:#00aaef;
     color:#ffffff;
}
.userPanel .usermenu li.subscription:hover a:after{
     background-position: -21px 0px;
}
.userPanel .usermenu li.settings:hover a:after{
     background-position: -21px -22px;
}
.userPanel .usermenu li.logout:hover a:after{
     background-position: -21px -45px;
}
.lateral-slide-menu-main-page #delta-container{
    padding:7px 15px 15px 18px;
}
.menu-sidebar h3:before{
    content: "";
    background: url(../images/user-icons.png) no-repeat 2px -68px;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 0px;
    left: 18px;
    display: inline-block;
}
.menu-sidebar h3{
    padding: 0px 15px 15px 45px;
    color: #000000;
    font-size: 21px;
    position:relative;
}
.menu-sidebar h3 .setting{
    float: right;
    height: 25px;
    width: 20px;
    background: url(../images/user-icons.png) no-repeat 0px -17px;
    cursor: pointer;
}
.top-bar{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index:99;
}
.sidebar-main{
    margin-top:80px;
    padding:0 15px;
}
.popInner{
    background: #ffffff;
    padding: 30px 50px;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.16);
    -o-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.16);
    position:relative;
    margin-top:100px;
}
.popInner .close_icon {
    top: 15px;
    right: 15px;
}
.popInner h3{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
}
.popInner h3 span{
    font-weight:700;
}
.popInner table{
    border:1px solid #cccccc;
    margin-top: 25px;
    text-align:center;
}
.popInner table th{
    background: #f5f5f5;
    font-size: 22px !important;
    text-align:center !important;
}
.popInner table td, .popInner table th{
    padding: 10px !important;
    font-size: 20px;
}
#topic_setting .login_signUp_box .form-control{
    width:auto;
    display:inline-block;
}
#topic_setting label{
    font-size: 20px;
    font-weight: 300;
    width: 110px;
}
#topic_setting .firstRow{
    
}
#topic_setting .firstRow label{
    width: 18%;
}
#topic_setting .firstRow .form-control{
    width: 65%;
}
#topic_setting .firstRow .edit:before,
#topic_setting .goal_status:before{
    position:absolute;
    content:"";
    top:0px;left:22px;
    background: url('../images/edit.png') no-repeat 0px 0px;
    height:20px;width:20px;
}
#topic_setting .goal_status{
    position:relative;
    color: #00aaef;
    font-size: 21px;
    padding-left: 50px;
    position: relative;
    top: 25px;
}
#topic_setting .date{
    position:relative;display:inline-block;
}
#topic_setting .date .calenderIcon{
    position:absolute;display:block;
    bottom:25px;right:0px;height:22px;width:22px;background: url('../images/edit.png') no-repeat -35px 0px;
    cursor:pointer;
}
#topic_setting .firstRow .edit{
    width: 14%;
    display: inline-block;
    text-align: right; 
    color: #00aaef;
    font-size: 21px;
    padding-left: 20px;
    position: relative;
    top: 25px;
}
#topic_setting .goals .wordCount{
   display: none;
}
#topic_setting .goals .form-control{
   width: 215px;
}
#topic_setting .goals .wordCount + label{
    position: relative;
    cursor: pointer;
    margin-left: 5%;
    padding-left: 35px;
    width: 23%;
}
#topic_setting .goals .wordCount + label:after,
#topic_setting .goals .wordCount:checked + label:after{
   position: absolute;
   top: 0px;
   left: 0px;
   content: "";
   height: 25px;
   width: 25px;
   border: 1px solid #cccccc;
   border-radius: 3px;
}
#topic_setting .goals .wordCount:checked + label:before{
   content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    background: url(../images/icon-check.png) no-repeat 0px 0px;
    height: 20px;
    width: 20px;
}
#topic_setting .goals select{
   width: 215px !important;
   margin-left: 4%;
}
#topic_setting .goalStatus{
   margin-left: 42%;
   width:auto;
}
.menu-sidebar {
    padding: 30px 0px 10px;
    border-top: 1px solid #b6b6b6;
    border-bottom: 1px solid #b6b6b6;
}
.addTopic_btn{
    margin:20px 0px;
    text-align:center;
}
.addTopic_btn a.btn{
    padding: 8px 40px;
    line-height: 31px;
    width: 85%;
    border-radius: 3px;
    border: 0px;
    background: #00aaef;
    color: #ffffff;
    font-size: 20px;
}
.addTopic_btn a.btn i{
    margin-right:10px;
}
.menu-sidebar div[data-tree-model] li span{
    position:relative;
}
.menu-sidebar div[data-tree-model] li span:after{
    content:"\f078";position:absolute;
    top:3px;right:-47px;height:20px;
    width:20px;display:block;
    font: normal normal normal 17px/1 FontAwesome;
}
.menu-sidebar div[data-tree-model] li ul li span:after{
    content:"";position:static;
    height:0px;width:0px;
}
.subplan-Main h3{
    font-size:30px;
}
.subplan-Main .plansList li {
    border: 1px solid #e5e5e5;
    max-width: 350px;
    width: 100%;
    display: inline-block;
    margin: 30px 15px;
    text-align: center;
}
.subplan-Main .plansList {
    padding: 30px 15px 40px;
    text-align: center;
}
.subplan-Main .plansList .month{ 
    font-size: 14px;
}
.subplan-Main .plansList li:hover h4 {
    background: #00aaef;
    color: #fff;
}
.subplan-Main .plansList li:hover .price i{
    color: #00aaef;
}
.subplan-Main .plansList li:hover .btn {
    background: #00aaef;
    color: #fff;
    border-color: #00aaef;
}
.subplan-Main .plansList h4{
    padding:10px 10px;
    text-align:center;
    font-size:32px;
    border-bottom:1px solid #e5e5e5;
}
.subplan-Main .plansList li:hover {
    box-shadow: 0px 0px 15px 4px #dcdcdc;
}
.subplan-Main .plan-detail{
        padding: 38px 0 22px;
}
.subplan-Main .plan-detail .plan-icon{
    
}
.subplan-Main .plan-detail .priceQuotes{
    font-size: 20px;
    padding: 31px 0 15px;
}
.subplan-Main .plan-detail label{
    font-size:20px;
    font-family:inherit;
    font-weight: 100;
}
.subplan-Main .plan-detail .price i{
     font-style:normal;
}
.subplan-Main .plan-detail .price{
    font-size:40px;
    font-family: 'Gill Sans MT Pro';
        line-height: 53px
}
.subplan-Main .plan-detail p{
    font-size:18px;
    font-family: 'Gill Sans MT Pro';
    padding: 15px 15px 30px;
}
.subplan-Main .plan-detail .btn{
    border-radius: 3px;
    max-width: 278px;
    width: 100%;
}

    /*-------------------------Treeview-----------------------*/
  ul .expanded {
        display:block;
    }
    ul .collapsed {
        display: none;
    }
    .css-treeview{
        margin: 2%;
        font-size: 18px;
    }
    .css-treeview .topicNode a,  .css-treeview .topicNode a label,  .css-treeview .entityNode a, .css-treeview .entityNode a label{
        font-weight: 300;
        color: #434343;
        line-height: 40px;
    }
    .entityNode{
        margin-left: 29px;
        padding: 0 10px 0 0;
    }
  
    .menu-sidebar h3 .status img{
        float: right;
        height: 20px;
        width: 20px;
        cursor: pointer;
        margin: 4px;
    } 

    .delete_topic {
        float:right;
    }
    
/*-------------------------------sidebar----------------------*/
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.3s;
        padding-top: 60px;
    }

    .sidenav a {
        text-decoration: none;
        color: #818181;
        display: block;
        transition: 0.1s;
    }

    .sidenav a:hover, .offcanvas a:focus{
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    #main, #main-admin{
        transition: margin-left .3s;
        padding: 16px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }
    
.side-links a{ display: block;padding:8px 24px; font-size: 20px; color:#333; border-top: 1px solid #d0d0d0;}
.side-links a:hover{background:#00aaef;color:#fff;}
.side-links a .setting{width: 23px;display: inline-block; height: 20px;background-image: url('../images/setting2-icon.png'); background-size: contain;background-repeat: no-repeat;}
.side-links a:hover .setting{background-image: url('../images/settin2-icon-hover.png');}


/*------------------- subscrib_plane popup -------------*/
.subscrib_plane.poup_up_layer .box h1{text-align:center; font-size:18px; font-weight:100;}
.subscrib_plane.poup_up_layer .box h3{text-align: center;}
.subscrib_plane .log_btn_wrap .btn{max-width:352px; width:100%; border:0;}
#subscrib_plane .login_signUp_box .form-control {  padding: 0; height: 50px;color: #888888;font-size: 19px;}
/*------------------- subscrib_plane popup Ends -------------*/
/*------------------- setting starts -------------*/
.setting-Main .page-title{font-size:30px;font-family: 'Gill Sans MT Pro';margin-bottom: 30px;}
.setting-Main label{display: inline-block;color: #424242;font-size: 20px;font-weight: 100;padding-left:0;}
.setting-Main label ~ select.form-control{width:auto; display:table-cell;height: 40px;}
.setting-Main  button.btn{background: #00aaef;color: #ffffff;border: 1px solid #00aaef;}
.setting-Main label ~ .form-control{width:auto; display:table-cell;}
.setting-Main input.btn.btn-default {font-size: 17px;text-transform: none;letter-spacing: 1px;}
.setting-Main .form-group{margin-bottom: 40px;}
.setting-Main .input-group-addon:last-child {border-left: 0;background: #fff;border: 0;border-bottom: 1px solid #333;border-radius: 0;font-size: 20px;}
.setting-Main{float: left; width: 100%; padding: 95px 23px 40px;}
/*------------------- setting Ends -------------*/

/*------------------- plans & Bill-------------*/
.plans-bill figure { text-align: center;}
.plans-bill .content {padding: 40px 0 25px;}
.plans-bill h3{font-size:28px; padding:25px 0 20px; }
.plans-bill .content span{font-size: 20px;}
.plans-bill .content span strong{margin-left: 15px;font-weight: 400; border-bottom: 1px solid #333;}
.plans-bill .btn.blue{background:#00aaef;color:#fff;border-color:#00aaef;}
.plans-bill .btn{margin:0 auto 20px;max-width:270px; text-align:center;}
/*------------------- plans & Bill Ends-------------*/

/*--------------------2.march.2017 -----------------------*/
.help-block { float: left; width: 100%; }

/*----------------------admin panel css start--------------------------*/
.main-header .adminPanel {
     padding: 11px 30px 32px 94px;
}
.subscription-table table, .subadmin-table table, .coupon-table table, .content-table table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 2% 0;
}
.subscription-table th, .subadmin-table th, .coupon-table table th, .content-table table th{
background: #00aaef;
}
.subscription-table td, th , .subadmin-table td, .coupon-table td, .content-table table td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.manageSubscription, .managesubadmin, .manageCoupon, .manageNotification{
    position :relative;
}
.addSubscri, .addCoupon{
        position: absolute;
        right:0;
    
}
.addSubscri .btn, .addCoupon .btn{
        padding: 5px;
}

.subscrDesc {
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 94px;      /* fallback */
   -webkit-line-clamp: 5; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.desciptionDiv {
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
    max-height: 80px;      /* fallback */
   -webkit-line-clamp: 5; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.userStyle{
    padding: 8% 0 16% 0;
    border: 2px solid #00aaef;
    margin: 0 5%;
    border-radius: 25px;
     background: #ffffff
}

.totalUser{
    font-size: 18px; 
    font-weight: normal;
}
.manageUserText{
    font-size: 20px; 
    font-weight: normal;
    margin: 5%;
}

.searchSubsci{
    width: 25%;
    position: absolute;
    right: 0px;
    top:0px;
}

.searchSubsci input[type=text]{
    margin: 0px;
}


/*----------------------admin panel css end--------------------------*/


@media (min-width: 992px){
  #topic_setting .firstRow label {
     width: 18%;
  }
  #topic_setting .firstRow .form-control {
     width: 66%;
  }
  #topic_setting .firstRow .edit {
     width: 18%;
  }
 #topic_setting .goals select {
    width: 79% !important;
    margin-left: 19%;
}
  #topic_setting .goalStatus {
     margin-left: 23%;
  }
  #topic_setting .goals .wordCount + label {
    margin-left: 12%;
    width: 160px;
  }
  #topic_setting .goals .form-control {
    width: 50%;
  }
  #topic_setting .goals .wordCount + label {
    margin-left: 0%;
  }
  #topic_setting .goals .form-control {
    width: 60%;
  }
}
@media (min-width: 768px){
  #topic_setting .firstRow .form-control {
     width: 56%;
  }
  #topic_setting .firstRow .edit {
    width: 115px;
  }
  #topic_setting .goals .wordCount + label {
    margin-left: 5%;
    width: 160px;
  }
  #topic_setting .goals select {
    width: 74% !important;
    margin-left: 19%;
  }
  #topic_setting .goalStatus {
    margin-left: 18.5%;
    width: auto;
  }
  #topic_setting .goals .form-control {
     width: 48%;
  }
}
@media (max-width: 560px){
    .popInner h3 {
        font-size: 24px;
    }
    #topic_setting .goals .form-control{
        width: 100%;
    }
    #topic_setting  label{
        width:52px;
    }
    #topic_setting .login_signUp_box .form-control {
        height: 37px;
        padding: 5px 5px;
        width:100%;
    }
    .popInner {
        padding: 30px 15px;
    }
    #topic_setting .firstRow {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    #topic_setting .firstRow .edit:before, #topic_setting .goal_status:before {
       top: 0px;
       left: 0px;
   }
   #topic_setting .firstRow .edit {
       width: 88px;
       padding-left: 0px;
       top: 0px;
   }
   #topic_setting .goals .wordCount + label{
       width:auto;
   }
   #topic_setting .goals select {
        width: 100% !important;
        margin-left: 0%;
    }
    #topic_setting .goalStatus {
        margin-left: 0%;
    }
    #topic_setting .login_signUp_box .form-group {
        margin-bottom: 14px;
    }
    #topic_setting .date .calenderIcon {
        bottom: 13px;
    }
    #topic_setting .date,
    #topic_setting .date .form-control{
        width: 100%;
    }
    #topic_setting .goal_status {
       top: 0px;
    }
    #topic_setting .goal_status {
       padding-left: 25px;
    }
    #topic_setting .firstRow label {
        width: 150px;
    }
    .popInner table th {
        font-size: 16px !important;
    }
    .popInner table td, .popInner table th {
        padding: 4px !important;
        font-size: 16px;
    }
    .responsive-table {
        width: 100%;
        overflow-x: scroll;
    }
    .popInner table {
        width: 400px;
    }
}
