<div class="setting-Main plan-details">
    <h3 class="page-title">{{planDetail.name}} Plan</h3>              
    <div class="plan-img">
        <ul>
            <li><p>{{planDetail.name}} Plan</p><p>Starting From</p><h1>${{planDetail.price}}</h1></li>
            <li><figure><img src="../assests/images/standard-plan.png" alt="stdplan" /> </figure></li>
            <li><p>Validity</p><h1>{{planDetail.validity}} Days</h1></li>
        </ul>
    </div>
    <div class="description">
        <p>{{planDetail.description}}</p>
        <h3>Features</h3>
        <ul>
            <li>Integer rhoncus nisi sed nisl facilisis, in pulvinar nibh pharetra.</li>
            <li>Integer commodo tellus vitae massa ultrices, ac aliquam turpis sodales.</li>
            <li>Sed et quam consequat, fermentum nisl in, consectetur velit.</li>
            <li>Donec fermentum tortor et eros vehicula malesuada.</li>
            <li>Phasellus consequat sem quis nulla ullamcorper, ut imperdiet est interdum</li>
        </ul>
        <button class="btn blue">BUY NOW</button>
    </div>  
                                
 </div>
