<!---------------Header--------------------->
<header class="header full_width">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-3">
                <div class="logo">
                    <a href="#"><img src="../../assests/images/logo.png" alt="" /></a>
                </div>
            </div>
            <div class="col-md-10 col-sm-9 col-xs-9">
                <nav class="nav">
                    <ul>
                        <li class="active" ng-show="currentUserInfo.newUserToken"><a href="/journal/new" class="new">New Journal</a></li>
                        <li ng-hide="currentUserInfo.newUserToken"><a href="javascript:void(0)" ng-click="loginSignup('login')" class="login">login</a></li>
                        <li ng-hide="currentUserInfo.newUserToken"><a href="javascript:void(0)" ng-click="loginSignup('signup')" class="signup">signup</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- end of header-->
<!---------------Slider------------------>
<section class="banner full_width">
    <div>
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <p>{{slide.title}}</p>
                    <h3><span>capturing</span> your ideas</h3>
                    <a href="#" class="btn" tabindex="0">GEt Started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!---------------End of Slider------------------>
<!---------------Our Banifits------------------>
<section class="our_banifit full_width">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="heading full_width">
                    <h3>Our <span>Benefits</span></h3>
                    <p>Vestibulum imperdiet lacus a ipsum faucibus, nec consequat orci accumsan.<span>Phasellus posuere diam non mi laoreet malesuada.</span></p>
                </div>
            </div>
        </div>
        <div class="banefit_bx full_width">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="box_wrapper full_width">
                        <div class="box_new">
                            <figure class="display_table">
                                <div class="display_table_cell">
                                    <img src="../../assests/images/form.png" alt="" />
                                </div>
                            </figure>
                        </div>
                        <div class="box full_width">
                            <h3>Editor Tools</h3>
                            <p>Proin gravida dolor sit amet lacus accu msan et viverra justo commodo. Proin sodales pulvinar tempor. Consec tetur adipiscingid est dapibus lacus ultrices. Proin gravida dolor sit amet lacus accu msan.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="box_wrapper full_width">
                        <div class="box_new">
                            <figure class="display_table">
                                <div class="display_table_cell">
                                    <img src="../../assests/images/shape.png" alt="" />
                                </div>
                            </figure>
                        </div>
                        <div class="box full_width">
                            <h3>Integrated Tools</h3>
                            <p>Proin gravida dolor sit amet lacus accu msan et viverra justo commodo. Proin sodales pulvinar tempor. Consec tetur adipiscingid est dapibus lacus ultrices. Proin gravida dolor sit amet lacus accu msan.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="box_wrapper full_width">
                        <div class="box_new">
                            <figure class="display_table">
                                <div class="display_table_cell">
                                    <img src="../../assests/images/search.png" alt="" />
                                </div>
                            </figure>
                        </div>
                        <div class="box full_width">
                            <h3>Editor Tools</h3>
                            <p>Proin gravida dolor sit amet lacus accu msan et viverra justo commodo. Proin sodales pulvinar tempor. Consec tetur adipiscingid est dapibus lacus ultrices. Proin gravida dolor sit amet lacus accu msan.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="box_wrapper full_width">
                        <div class="box_new">
                            <figure class="display_table">
                                <div class="display_table_cell">
                                    <img src="../../assests/images/user.png" alt="" />
                                </div>
                            </figure>
                        </div>
                        <div class="box full_width">
                            <h3>Integrated Tools</h3>
                            <p>Proin gravida dolor sit amet lacus accu msan et viverra justo commodo. Proin sodales pulvinar tempor. Consec tetur adipiscingid est dapibus lacus ultrices. Proin gravida dolor sit amet lacus accu msan.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-----------------End of Our Banifits------------------>
<!-----------------Subscription Plan--------------------->
<section class="our_plans full_width">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="heading full_width">
                    <h3>subscription <span>plan</span></h3>
                    <p>Vestibulum imperdiet lacus a ipsum faucibus, nec consequat orci accumsan.<span>Phasellus posuere diam non mi laoreet malesuada.</span></p>
                </div>
            </div>
        </div>
        <div class="plans full_width">
            <div class="row">
                <div class="col-sm-4 col-xs-12" ng-if="subscriptionList" ng-repeat="subscri in subscriptionList">
                    <div class="plan_bx full_width text-center">
                        <strong>{{subscri.name}}</strong>
                        <span>${{subscri.price}}</span>
                        <p class="desciptionDiv">{{subscri.description}} </p>
                        <a href="#" class="btn">continue</a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="get_start_now full_width">
                        <a href="#" class="btn">get started now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-----------------End of Subscription Plan--------------------->
<!-----------------Contact us --------------------->
<section class="contact_section full_width">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="heading full_width">
                    <h3>contact <span>us</span></h3>
                    <p>We are always ready to help you. There are many ways to contact us. You may drop us a <span>line, Give us a call or send an email.</span></p>
                </div>
            </div>
        </div>
        <div class="contact_form full_width">
        <div class="loderCircle" dw-loading="signup_loading" dw-loading-options="{active: false, text: false, overlay: true}">
            <form ng-submit="contactUs(contactUsForm)" novalidate name="contactUsForm">
                <div class="form-group full_width">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="txt_wrap" ng-class="{ 'has-success': contactUsForm.first_name.$valid && submitted, 'has-error': contactUsForm.first_name.$invalid && submitted }">
                                <input type="text" class="form-control" name="first_name" ng-model="contactUser.firstName"
                                       required placeholder="First Name"/>
                                <p class="help-block" ng-show="contactUsForm.first_name.$error.required && submitted">
                                    First name is required
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="txt_wrap"  ng-class="{ 'has-success': contactUsForm.last_name.$valid && submitted, 'has-error': contactUsForm.last_name.$invalid && submitted }">
                                <input type="text" class="form-control" name="last_name" ng-model="contactUser.lastName"
                                       required placeholder="Last Name"/>
                                <p class="help-block" ng-show="contactUsForm.last_name.$error.required && submitted">
                                    Last name is required
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="txt_wrap" ng-class="{ 'has-success': contactUsForm.email.$valid && submitted,
                                                  'has-error': contactUsForm.email.$invalid && submitted }">
                                <input type="email" class="form-control"  name="email" ng-model="contactUser.emailAddress"
                                                       required placeholder="Email ID" />
                                
                                    <p class="help-block" ng-show="contactUsForm.email.$error.email && submitted">
                                        Doesn't look like a valid email.
                                    </p>
                                    <p class="help-block" ng-show="contactUsForm.email.$error.required && submitted">
                                        What's your email address?
                                    </p>
                                
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="txt_wrap"  ng-class="{ 'has-success': contactUsForm.message.$valid && submitted, 'has-error': contactUsForm.message.$invalid && submitted }">
                                <textarea class="form-control" name="message" ng-model="contactUser.message"
                                       required  placeholder="Message/Query"></textarea>
                                 <p class="help-block" ng-show="contactUsForm.message.$error.required && submitted">
                                Message or Query is required
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="btn_wrap full_width">
                                <input type="submit" value="send" class="btn">
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <ul class="reac_us">
                                <li>
                                    <a href="tel:8889726211" class="icons">
                                        <figure><img src="../../assests/images/phone.png" alt="" /></figure><span>888-972-6211</span></a>
                                </li>
                                <li>
                                    <a href="mailto:info@notonlynotes.com" class="icons">
                                        <figure><img src="../../assests/images/mail.png" alt="" /></figure><span>info@notonlynotes.com</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        </div>
    </div>
</section>
<!-----------------End of Contact us--------------------->
<!------------------Footer------------------------------->
<footer class="footer full_width">
    <div class="footer_top full_width">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a href="#">
                        <img src="../../assests/images/fotter_logo.png" alt="" />
                    </a>
                    <ul class="full_width text-center">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom full_width">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>&copy; All copyright 2016 reserved to NotOnlyNotes</p>
                    <ul class="pull-right">
                        <li><a href="#">Terms of  Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!------------------End Of Footer---------------------->
<!------------------Login Signup popup------------------->
<div class="poup_up_layer" id="login_signUp">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12  col-md-offset-1 col-xs-12">
                <div class="login_signUp full_width">
                    <a href="javascript:void(0)" class="close_icon" ng-click="closePopup('login_signUp')"><img src="../../assests/images/close_icon.png" alt="" /></a>
                    <div class="login_signUp_box">
                        <ul>
                            <li ng-class="{active : loginSignupPopup === 'login'}"><a href="javascript:void(0)" ng-click="showDiv('login')">login</a></li>
                            <li ng-class="{active : loginSignupPopup === 'signup'}"><a href="javascript:void(0)" ng-click="showDiv('signup')">signup</a></li>
                        </ul>
                        <div class="tab_content">
                            <div class="tab" id="login" ng-if="loginSignupPopup == 'login'">
                                <div class="form_data full_width">

                                    <form ng-submit="SignIn(form)" name="form" novalidate>
                                        <div class="form-group formLogin full_width">
                                            <input type="text" name="username" class="form-control" ng-model="credentials.username" required placeholder="Username/EmailId" />
                                            <p class="help-block" ng-show="form.username.$dirty && form.username.$error.required">
                                                Please Enter UserName/EmailId
                                            </p>
                                            <i class="fa fa-user-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="form-group formLogin full_width">
                                            <input type="password" name="password" class="form-control" ng-model="credentials.password" required placeholder="Password">
                                            <p class="help-block" ng-show="form.password.$dirty && form.password.$error.required">
                                                Please enter your password.
                                            </p>
                                            <i class="fa fa-lock" aria-hidden="true"></i>
                                        </div>
                                        <div class="form-group formLogin has-error">
                                            <p class="help-block" ng-show="form.username.$error.required && form.password.$error.required && sub">
                                                Please enter your user name and password.
                                            </p>
                                            <p class="help-block">{{errors.other}}</p>
                                        </div>
                                        <div class="form-group formLogin log_btn_wrap full_width">
                                            <input type="submit" value="login" class="btn" ng-disabled="form.$dirty && form.$invalid">
                                        </div>
                                        <div class="text-center full_width">
                                            <a href="javascript:void(0)" id="forget_call" ng-click="forgotPwd()">forgot password?</a>
                                        </div>
                                         </form>
                                </div>
                            </div>
                            <div class="tab" id="signUp" ng-if="loginSignupPopup == 'signup'">
                                <div class="form_data full_width">

                                    <div class="loderCircle" dw-loading="signup_loading" dw-loading-options="{active: false, text: false, overlay: true}">
                                        <form ng-submit="signup(form1)" novalidate name="form1">
                                            <div class="form-group full_width" ng-class="{ 'has-success': form1.first_name.$valid && submitted, 'has-error': form1.first_name.$invalid && submitted }">
                                                <input type="text" name="first_name" class="form-control" ng-model="user.first_name"
                                                       required placeholder="First Name"/>
                                                <p class="help-block" ng-show="form1.first_name.$error.required && submitted">
                                                    First name is required
                                                </p>
                                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="form-group full_width" ng-class="{ 'has-success': form1.last_name.$valid && submitted, 'has-error': form1.last_name.$invalid && submitted }">
                                                <input type="text" name="last_name" class="form-control" ng-model="user.last_name"
                                                       required placeholder="Last Name"/>
                                                <p class="help-block" ng-show="form1.last_name.$error.required && submitted">
                                                    Last name is required
                                                </p>
                                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="form-group full_width" ng-class="{ 'has-success': form1.username.$valid && submitted,
                                                  'has-error': form1.username.$invalid && submitted }">
                                                <input type="text" name="username" class="form-control" ng-model="user.username"
                                                       required placeholder="User name"/>
                                                <p class="help-block" ng-show="form1.username.$error.required && submitted">
                                                    User name is required
                                                </p>
                                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="form-group full_width" ng-class="{ 'has-success': form1.email.$valid && submitted,
                                                  'has-error': form1.email.$invalid && submitted }">
                                                <input type="email" name="email" class="form-control" ng-model="user.email"
                                                       required
                                                       mongoose-error placeholder="Email ID"/>
                                                <p class="help-block" ng-show="form1.email.$error.email && submitted">
                                                    Doesn't look like a valid email.
                                                </p>
                                                <p class="help-block" ng-show="form1.email.$error.required && submitted">
                                                    What's your email address?
                                                </p>
                                                <p class="help-block" ng-show="form1.email.$error.mongoose">
                                                    {{ errors.email}}
                                                </p>
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="form-group full_width" ng-class="{ 'has-success': form1.password.$valid && submitted,
                                                  'has-error': form1.password.$invalid && submitted }">
                                                <input type="password" name="password" class="form-control" ng-model="user.password"
                                                       ng-minlength="3"
                                                       required
                                                       mongoose-error placeholder="Password"/>
                                                <p class="help-block"
                                                   ng-show="(form1.password.$error.minlength || form1.password.$error.required) && submitted">
                                                    Password must be at least 3 characters.
                                                </p>
                                                <p class="help-block" ng-show="form1.password.$error.mongoose">
                                                    {{ errors.password}}
                                                </p>
                                                <i class="fa fa-lock" aria-hidden="true"></i>
                                            </div>
                                            <div class="form-group full_width" ng-class="{ 'has-success': form1.confirm_password.$valid && submitted,
                                                  'has-error': form1.confirm_password.$invalid && submitted }">
                                                <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirm Password" ng-model="user.confirm_password" required password-verify="user.password" />
                                                <span ng-show="form1.confirm_password.$error.passwordVerify && submitted" class="help-block">Please make sure passwords match</span>
                                                <i class="fa fa-lock" aria-hidden="true"></i>
                                            </div>


                                            <div class="form-group log_btn_wrap full_width">
                                                <input type="submit" value="signup" class="btn">
                                            </div>                                       
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="back_box">
                        <figure><img src="../../assests/images/box_logo.png" alt="" /></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------End of Login Signup popup------------------->
<!------------------Forgot Password Popup------------------------>
<div class="poup_up_layer" id="forget_pswd">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12  col-md-offset-1 col-xs-12">
                <div class="box_wrapper full_width">
                    <a href="javascript:void(0)" class="close_icon" ng-click="closePopup('forget_pswd')"><img src="../../assests/images/close_icon.png" alt="" /></a>
                    <div class="box_new">
                        <figure class="display_table">
                            <div class="display_table_cell">
                                <img src="../../assests/images/lock.png" alt="" />
                            </div>
                        </figure>
                    </div>
                    <div class="box full_width">
                        <div class="box_inner">
                            <form name="form3" novalidate>
                                <h3>forgot <span>password</span></h3>
                                <p>Enter your registered email address ,a link will be sent to your email address </p>
                                <div class="forget_box">
                                   <div class="form-group full_width" ng-class="{ 'has-success': form3.email.$valid && submit,
                                                  'has-error': form3.email.$invalid && submit }">
                                                <input type="email" name="email" class="form-control" ng-model="Userforgot.email"
                                                       required
                                                       mongoose-error placeholder="Email address"/>
                                                <p class="help-block" ng-show="form3.email.$error.email && submit">
                                                    Doesn't look like a valid email.
                                                </p>
                                                <p class="help-block" ng-show="form3.email.$error.required && submit">
                                                    What's your email address?
                                                </p>
                                                <p class="help-block">
                                                    {{errors.other}}
                                                </p>
                                              <i class="fa fa-lock" aria-hidden="true"></i>
                                            </div>
                                    
                                    <div class="form-group log_btn_wrap full_width">
                                        <input type="button" value="send" id="cnfrm_new" class="btn" ng-click="forgot(form3);">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------End Of Forgot Password Popup------------------------>
<!------------------Forgot Password Confirmation Popup------------------------>
<div class="poup_up_layer" id="forget_pswd_confirm">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12  col-md-offset-1 col-xs-12">
                <div class="box_wrapper full_width">
                    <a href="javascript:void(0)" class="close_icon" ng-click="closePopup('forget_pswd_confirm')"><img src="../../assests/images/close_icon.png" alt="" /></a>
                    <div class="box_new">
                        <figure class="display_table">
                            <div class="display_table_cell">
                                <img src="../../assests/images/lock_new.png" alt="" />
                            </div>
                        </figure>
                    </div>
                    <div class="box full_width">
                        <div class="box_inner">
                            <form>
                                <h3>forgot <span>password</span></h3>
                                <p>A link has been sent to your email id. Please check and tap on the link to reset your password. </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------End Of Forgot Password Confirmation Popup------------------------>
<!---------------------Success popup------------------------------>
<div class="poup_up_layer" id="success_popup">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12  col-md-offset-1 col-xs-12">
                <div class="box_wrapper full_width">
                    <a href="javascript:void(0)" class="close_icon" ng-click="closePopup('success_popup')"><img src="../../assests/images/close_icon.png" alt="" /></a>
                    <div class="box_new">
                        <figure class="display_table">
                            <div class="display_table_cell">

                                <img src="../../assests/images/success.png" alt=""/>
                            </div>
                        </figure>
                    </div>
                    <div class="box full_width">
                        <div class="box_inner">
                            <form>
                                <h3><span>Success</span></h3>
                                <p>{{successMsg}}</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>       
<!---------------------End of Success popup------------------------------>