<!------------------Subscription Plan listing---------------------->
<div class="subplan-Main">
    <div class="plansContainer">
        <ul class="plansList">
            <li ng-repeat="subscr in subscription">
                <h4>{{subscr.name}} Plan</h4>
                <div class="plan-detail">
                    <div class="plan-icon"><img src="../assests/images/freeplan.png"/></div>
                    <div class="priceQuotes">
                        <label>Starting From</label>
                        <div class="price"><i>${{subscr.price}}</i>/ <span class="month">Month</span></div>
                    </div>
                    <p class="subscrDesc">{{subscr.description}}</p>
                    <a href="javascript:void(0);" class="btn" ng-click="subsPlan(subscr)" >VIEW PLAN</a>
                </div>
            </li>
           </ul>
    </div>
</div>

<!--------------------------pro plan popup before plan detail show---------------------->
<div class="poup_up_layer subscrib_plane" id="plane_details">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12  col-md-offset-1 col-xs-12">
                <div class="box_wrapper full_width">

                    <div class="box full_width"> 
                        <div class="box_inner">
                            <a href="javascript:void(0)" class="close_icon" ng-click="closeForm()"><img src="../../assests/images/close_icon.png" alt=""/></a>
                            <form ng-submit="suggestionForm(sugForm)" novalidate name="sugForm">
                                <div class="forget_box">
                                    <h3>POP <strong>UP</strong></h3>
                                    <p>Currently this subscription plan is not active. Please guide us with your thoughts which can help us in adding features.</p>
                                    <div class="form-group full_width">
                                        <input type="text" name="questionOne" class="form-control" ng-model="question.questionOne" placeholder="Question 1">
                                    </div>
                                    <div class="form-group full_width">
                                        <input type="text" name="questionTwo" class="form-control" ng-model="question.questionTwo" placeholder="Question 2">
                                    </div>
                                    <div class="form-group full_width">
                                        <input type="text" name="questionThree" class="form-control" ng-model="question.questionThree" placeholder="Question 3">
                                    </div>
                                    <div class="form-group log_btn_wrap full_width">
                                        <input type="button" value="send" id="cnfrm_new" class="btn" >
                                    </div> 
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>