<div class="manageSubscription">
    <h2>Subscription Management</h2>
    <!------------------Subscription List------------------------->
    <div class="subscription-table" ng-if="!isSubscriAddEdit">
        <div class="input-group searchSubsci">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search Subscription" ng-model="searchSubscription">
        </div> 
        <table>
            <tr>
                <th>   <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Subscription
                        <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>

                <th>
                    <a href="#" ng-click="sortType = 'price'; sortReverse = !sortReverse">
                        Price
                        <span ng-show="sortType == 'price' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'price' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="sortType = 'validity'; sortReverse = !sortReverse">
                        Validity
                        <span ng-show="sortType == 'validity' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'validity' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>Action</th>
            </tr>
            <tr ng-if="subscriptionList" ng-repeat="subscri in subscriptionList| orderBy:sortType:sortReverse | filter: searchSubscription">
                <td>{{subscri.name}}</td>
                <td>{{subscri.price}}$</td>
                <td>{{subscri.validity}} days</td>
                <td>
                    <span><input type="submit" value="Edit" ng-click ="editSubsciption(subscri)"/></span>
                    <span><input type="submit" value="Delete" ng-click="deleteSubscription(subscri)"/></span>
                </td>
            </tr>
        </table>
        <div class="addSubscri"> <a href="javascript:void(0);" class="btn" ng-click="addSubsciption()">Add</a></div>
    </div>
    
    <!------------------Add Edit Subscription popup------------------------->
    <div class="addEditSubscription" ng-if="isSubscriAddEdit">
        <form ng-submit="saveSubscription(subscrForm)" novalidate name="subscrForm">
            <div class="form-group full_width">
                <div class ="row">
                    <div class="col-sm-3">
                        <span ng-if="!file.filename"><img src="assests/images/freeplan.png" style="max-height: 50px;"></span>
                        <span ng-if="file.filename"><img ng-src="assests/images/{{file.filename}}" style="max-height: 50px;"></span>
                    </div>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="file" ng-model="file" name="file" base-sixty-four-input onload="onLoad" maxsize="1000" accept="image/*">
                        </div>
                        <div class="alert" ng-class="{'alert-danger': form.file.$invalid, 'alert-success': form.file.$valid}">
                            {{form.file.$error}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Subscription Name</div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="subsci_name" ng-model="subscription.name"  placeholder="Enter Subscription Name"  required/>
                        <p class="help-block" ng-show="subscrForm.subsci_name.$error.required && sub">
                            Subscription name is required
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Description</div>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="subsci_desc" ng-model="subscription.description"
                                  placeholder="Enter Description" required></textarea>
                        <p class="help-block" ng-show="subscrForm.subsci_desc.$error.required && sub">
                            Description is required
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Price</div>
                    <div class="col-sm-9">
                        <input float-value type="text" class="form-control" name="subsci_price" ng-model="subscription.price" placeholder="Enter Price" required/>
                        <p class="help-block" ng-show="subscrForm.subsci_price.$error.required && sub">
                            Price is required
                        </p>
                        <p class="help-block" ng-show="subscrForm.subsci_price.$error.numberPrice">
                            Price should be number, please enter correct price!
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">Validity</div>
                    <div class="col-sm-9">
                        <input type="text" number-valdation class="form-control" name="subsci_validity" ng-model="subscription.validity" placeholder="Enter Number of days" required/>
                        <p class="help-block" ng-show="subscrForm.subsci_validity.$error.required && sub">
                            Validity is required
                        </p>
                        <p class="help-block" ng-show="subscrForm.subsci_validity.$error.numberValdation">
                            Not a valid days, please do correct!
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn_wrap full_width">
                            <input type="submit" value="send" class="btn" style="float:right">
                        </div>
                    </div>
                </div>
                <p class="help-block" ng-if="errors.other">{{errors.other}}</p>
            </div>
        </form>
    </div>
</div>
