<div class="manageNotification">
    <h2>Notifications</h2>
    <div class="row notificationList" ng-repeat="notification in notificationList">
        <div class="col-sm-1" ng-if="notification.type == 'newuser'"><i class="fa fa-user-o" aria-hidden="true"></i></div>
        <div class="col-sm-1" ng-if="notification.type == 'other'"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
        <div class="col-sm-10">{{notification.message}}</div>
        <div class="col-sm-1"><a href="javascript:void()" ng-click="deleteNotification(notification)"><i class="fa fa-trash-o" aria-hidden="true"></i></a></div>
    </div>
</div>