<div class="main-page" id="new_journal">
    <div>
        <div class="top-bar">
            <div class="sidebar-header">
                  <a ng-click="openCloseNav()" class="toggle-menu"><i class="fa fa-bars"></i></a>
                <div class="notifications"  ng-click="showNotification()"><i class="fa fa-bell-o"></i>
                    <span class="count">3</span>
                    <ul class="notifyList" ng-if="notificationActive">
                        <li><a href="javascript:void();">A link has been sent to your email id. Please check and tap on the 
                                link to reset your password.</a></li>
                        <li><a href="javascript:void();">A link has been sent to your email id. Please check and tap on the 
                                link to reset your password.</a></li>
                        <li><a href="javascript:void();">A link has been sent to your email id. Please check and tap on the 
                                link to reset your password.</a></li>
                    </ul>
                </div>
            </div>
            <div class="main-header">
                <div class="date">{{selectedCalDate| date: 'EEEE, MMMM d, y'}}</div> 
                <!--                <span class="message">(252 words remaining to reach 1000 in 3 days)</span>-->
                <div class="searchBar">
                    <button class="searchBtn"><i class="fa fa-search"></i></button>
                    <input class="search" type="search" placeholder="Search Here"/>
                </div>
                <div class="userPanel">
                    <span class="usericon"></span>
                    <a href="javascript:void(0);" class="user">{{currentUserInfo.first_name}}<i class="fa fa-chevron-down"></i></a>
                    <a href="javascript:void(0);" class="synchronize"><i class="fa fa-refresh"></i> Sync</a>
                    <ul class="usermenu">
                        <li class="subscription"><a ui-sref="journal.subscription">Subscription Plans</a></li>
                        <li class="settings"><a ui-sref="journal.setting">Settings</a></li>
                        <li class="logout" ng-click="logoutJournal()"><a href="javascript:void(0);">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- MENU -->
        <div class="sidebar-main ">
            <div id="mySidenav" class="sidenav">
                   <!--------------------------- JOURNAL SIDEBAR------------------------>
                <div ng-if="isCalender">
                    <!---------------START CALENDER--------------------->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="btn-group">
                                <button
                                    class="prev calender-btn"
                                    mwl-date-modifier
                                    date="journalC.viewDate"
                                    decrement="journalC.calendarView"
                                    ng-click="journalC.cellIsOpen = false">
                                    <i class="fa fa-angle-left"></i>
                                </button>
                                <h2 class="text-center">{{journalC.calendarTitle}}</h2>
                                <button
                                    class="next calender-btn"
                                    mwl-date-modifier
                                    date="journalC.viewDate"
                                    increment="journalC.calendarView"
                                    ng-click="journalC.cellIsOpen = false">
                                    <i class="fa fa-angle-right"></i></button>
                            </div>
                        </div>

                        <br class="visible-xs visible-sm">
                    </div>
                    <br>
                    <mwl-calendar
                        events="journalC.events"
                        view="journalC.calendarView"
                        view-title="journalC.calendarTitle"
                        view-date="journalC.viewDate"
                        on-event-times-changed="journalC.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                        cell-is-open="false"
                        on-timespan-click="journalC.timespanClicked(calendarDate, calendarCell)">
                    </mwl-calendar>
                    <br/><br/>
                    <!------------------END CALENDER---------------------->
                    <!---------------TOPIC------------------>
                    <div class="menu-sidebar" ng-if="nodeData.length > 0">
                        <h3>TOPIC <span class="status" title="status" ng-click="topicStatus(nodeData)"><img src="../assests/images/status-icon.png"/></span><span class="setting"></span></h3>
                        <div class="css-treeview">
                            <ul>
                                <li ng-repeat="node in nodeData" class="topicNode">
                                    <span><a href="javascript:void(0)" ng-click="openNode('topic', node)"> <i class="fa fa-folder-open-o" aria-hidden="true"></i> <label for="{{node._id}}">{{node.name}}</label></a><a href="#" class="delete_topic" ng-click="deleteTopic(node._id)"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
                                    <ul ng-class="{'collapsed': node.collapsed, 'expanded': !node.collapsed}">
                                        <li ng-if="node.entities.length > 0" class="entityNode" ng-repeat="entity in node.entities">
                                            <a href="javascript:void(0)" ng-click="openNode('entity', node, entity)"><i class="fa fa-file-text-o" aria-hidden="true"></i> <label for="{{entity._id}}">{{entity.at}}</label></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>       
                        </div>
                    </div>
                    <div class="addTopic_btn">
                        <a href="javascript:void(0)" class="btn" ng-click="journalC.addEvent(1)"><i class="fa fa-plus-square-o"></i> ADD TOPIC</a>
                    </div>
                        <!-----------------End Topic----------------->
                </div>
                <!--------------------------- End JOURNAL SIDEBAR------------------------>
                <!----------------------IF PAGE NOT JOURNAL------------------->
                <div ng-if="!isCalender">
                    <div class="side-links"><a ui-sref="journal.setting"><i class="fa fa-sliders" aria-hidden="true"></i> &nbsp;Account Settings</a></div>
                    <div class="side-links"><a ui-sref="journal.subscription"><i class="setting"></i> &nbsp;Plans & Bills</a></div>
                    <div class="side-links"><a ui-sref="#"><i class="fa fa-eye-slash" aria-hidden="true"></i> &nbsp;Deactivate Account</a></div>
                </div>
                <!----------------END SIDE BAR------------------>
            </div>
            <!-- main page -->
            <div id="main">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</div>
<!-- Topic status popup-->
<div class="poup_up_layer" id="goal_statusPop">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12  col-md-offset-1 col-xs-12">
                <div class="goal_ststus popInner full_width ">
                    <a href="javascript:void(0)"  class="close_icon" ng-click="closeTopicStatus()"><img src="../../assests/images/close_icon.png" alt=""/></a>
                    <div class="login_signUp_box">
                        <h3 class="text-center">Goal <span>Status</span></h3>
                        <div class="responsive-table">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th width="14%">S NO.</th>
                                        <th width="55%">Goal Name</th>
                                        <th width="31%">Goal Status</th>
                                    </tr>
                                    <tr ng-repeat="goal in goalStatus">
                                        <td>{{$index + 1}}</td>
                                        <td>{{goal.name}}</td>
                                        <td>447 word remaining to complete in 23 days</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Topic Setting popup-->
<div class="poup_up_layer" id="topic_setting">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12  col-md-offset-1 col-xs-12">
                <div class="topic_setting popInner full_width ">
                    <a href="javascript:void(0)"  class="close_icon" ng-click="journalC.addEvent(0)"><img src="../../assests/images/close_icon.png" alt=""/></a>
                    <div class="login_signUp_box">
                        <h3 class="text-center">Topic <span>Setting</span></h3>
                        <form class="login_signUp_box" ng-submit="topicFormSubmit(topicForm)" novalidate name="topicForm">
                            <div class="row">
                                <div class="form-group firstRow" ng-class="{'has-success': topicForm.topic_name.$valid && topicSub, 'has-error': topicForm.topic_name.$invalid && topicSub }">
                                    <label>Topic Name:</label>
                                    <input type="text" name="topic_name" class="form-control" ng-model="topic.name" required>
                                    <p class="help-block" ng-show="topicForm.topic_name.$error.required && topicSub">
                                        Topic name is required
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class ="col-sm-2">
                                    <input type="checkbox" name="wordsCountStatus" class="wordCount" id="choicefield" ng-model="topic.goals.isSet">
                                    <label class="cursomradiobtn" for="choicefield">Words Count</label>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" ng-class="{'has-success': topicForm.wordsCount.$valid && topicSub, 'has-error': topicForm.wordsCount.$invalid && topicSub }">
                                        <input number-valdation name="wordsCount" class="form-control" ng-model="topic.goals.wordCount" placeholder="No. of Words" ng-disabled ="!topic.goals.isSet"/>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <select class="form-control" name="words_count_type" ng-model="topic.goals.type">
                                            <option value="">Select</option>
                                            <option value="entry">Entry</option>
                                            <option value="day">Day</option>
                                            <option value="week">Week</option>
                                            <option value="month">Month</option>
                                            <option value="year">Year</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4 calenderSetting">
                                    <div class="input-group calenderNew">
                                        <input type="text"  class="form-control" uib-datepicker-popup ng-model="topic.goals.finishAt" is-open="popup2.opened" datepicker-options="dateOptions" close-text="Close"  placeholder="Till">
                                        <span class="input-group-btn" style="right: 17%;">
                                            <button type="button" class="btn btn-default" ng-click="open2()" style="padding: 2px"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class ="col-sm-3">
                                    <input type="checkbox" name="overAllWordsStatus" class="wordCount" ng-model="topic.setting.isSet">
                                    <label class="cursomradiobtn" for="choicefield">Over All word</label>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" ng-class="{'has-success': topicForm.overAllWords.$valid && topicSub, 'has-error': topicForm.overAllWords.$invalid && topicSub }">
                                        <input number-valdation name="overAllWords" class="form-control" ng-model="topic.setting.overAllWordCount" placeholder="No. of Words" ng-disabled ="!topic.setting.isSet"/>
                                    </div>
                                </div>

                                <div class="col-sm-5">
                                    <div class="input-group calenderNew">
                                        <input type="text"  class="form-control" uib-datepicker-popup ng-model="topic.setting.finishAt" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close"  placeholder="Till">
                                        <span class="input-group-btn" style="right: 17%;">
                                            <button type="button" class="btn btn-default" ng-click="open1()" style="padding: 2px"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>

                                    </div>
                                </div>
                                <div  class="form-group">
                                    <p class="help-block" ng-show="otherError">
                                        {{otherErrorMessage}}
                                    </p>
                                </div>
                            </div>

                            <div class="form-group log_btn_wrap full_width">
                                <input type="submit" value="Done" class="btn">
                            </div>                                       
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
