 <div class="subplan-Main">
                <h3>Plans & Bill</h3>
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-sm-12">
                            <figure><img src="../assests/images/user-icon.png" alt="user"/><h3>Ahaan Arora</h3> </figure>

                        </div>
                        <div class="col-sm-5">
                            <div class="content">
                                <h3>Account Info.</h3>
                                <span>Silver Membership<strong>Unsubscribe</strong></span>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="content">
                            <h3>Account Expiration</h3>
                            <span>22nd Feb,2017 (22days to go)<strong>Buy New Subscription</strong></span>
                            </div>
                        </div>
                        </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <button class="btn blue">Save</button>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-default">Upgrade</button>
                        </div>
                    </div>
                </form>
            </div>