<div class="manageContent">
    <h2>Content Management System</h2>
    <div class="content-table" ng-if="!showHideAddPage">
        <table>
            <tr>
                <th>  
                    <a href="#">S.No </a>
                </th>
                <th>  
                    <a href="#">Static Page </a>
                </th>
                <th>
                    <a href="#">Action </a>
                </th>
            </tr>
            <tr ng-repeat="content in ContentPages">
                <td>{{$index+1}}</td>
                <td>{{content.type}}</td>
                <td>
                        <span ng-click="editContent(content)"><i class="fa fa-pencil" aria-hidden="true" title="Update"></i></span>
                            <span ng-click="deleteContent(content)"> <i class="fa fa-trash" title="Delete" aria-hidden="true"></i></span>
                       
                  
                </td>
            </tr>
        </table>
        <div class="addContent" ng-click="addPage()"> <a href="javascript:void(0);" class="btn">Add Page</a></div>
    </div>

    <div class="addEditCoupon" ng-if="showHideAddPage">
       
        <form ng-submit="saveContent(contentForm)" novalidate name="contentForm">
            <div class="form-group">
                 <ol class="nya-bs-select" ng-model="page.type">
                             <li class="nya-bs-option" data-value="about_us">
                                <a href="">About Us</a>
                            </li>
                            <li class="nya-bs-option" data-value="terms">
                                <a href="">Terms of  Service</a>
                            </li>
                            <li class="nya-bs-option" data-value="privacy_policy">
                              <a href="">Privacy Policy</a>
                            </li>
                        </ol>
                
                <div class ="row">
                    <div class="col-sm-12">
                          <ng-quill-editor 
                                ng-model="page.content"
                                placeholder="override default placeholder" 
                                on-editor-created="editorCreated(editor)"
                                on-content-changed="contentChanged(editor, html, text)" name="content" required/>
                            </ng-quill-editor>
                          <p class="help-block" ng-show="contentForm.content.$error.required && sub">
                                    Please enter Text!
                                </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn_wrap full_width">
                            <input type="submit" value="send" class="btn" style="float:right">
                        </div>
                    </div>
                </div>
                <p class="help-block" ng-if="errors.other">{{errors.other}}</p>
            </div>
        </form>
    </div>
</div>