<div class="managesubadmin">
    <h2>Manage Sub Admin</h2>
    <div class="subadmin-table" ng-if="subAdminPage == 'list'">
         <div class="input-group searchSubsci">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search Admin" ng-model="searchUser">
        </div> 
        <table>
            <tr>
                <th>
                    <a href="#" ng-click="sortType = 'username'; sortReverse = !sortReverse"> Name
                        <span ng-show="sortType == 'username' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'username' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="sortType = 'email'; sortReverse = !sortReverse"> EmailId
                        <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>Active/Inactive</th>
                <th>Action</th>
            </tr>
            <tr ng-if="subAdmins" ng-repeat="admin in subAdmins| orderBy:sortType:sortReverse | filter: searchUser">
                <td>{{admin.username}}</td>
                <td>{{admin.email}}</td>
                <td ng-if="admin.active">Active</td>
                <td ng-if="!admin.active">Inactive</td>
                <td>
                    <span><input type="submit" value="View" ng-click="viewSubAdmin(admin)"/></span>
                    <span><input type="submit" value="Edit" ng-click="editSubAdmin(admin)"/></span>
                </td>
            </tr>

        </table>
    </div>
    <div class="add-edit-sub-admin" ng-if="subAdminPage == 'addEdit'">
        <div class="loderCircle" dw-loading="adminsignup_loading" dw-loading-options="{active: false, text: false, overlay: true}">
            <form ng-submit="saveSubAdmin(form)" novalidate name="form">
                <div class="form-group full_width">
                    <div class="row">
                        <div class="col-sm-3">First Name</div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="admin_fname" ng-model="subadmin.first_name" required/>
                            <p class="help-block" ng-show="form.admin_fname.$error.required && submitted">
                                First Name is required!
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Last Name</div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="admin_lname" ng-model="subadmin.last_name" required/>
                            <p class="help-block" ng-show="form.admin_lname.$error.required && submitted">
                                Last Name is required!
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">User Name</div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="admin_uname" ng-model="subadmin.username" required/>
                            <p class="help-block" ng-show="form.admin_uname.$error.required && submitted">
                                User Name is required!
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">                     
                            EmailID
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group full_width" ng-class="{ 'has-success': form.email.$valid && submitted,
                                                  'has-error': form.email.$invalid && submitted }">
                                <input type="email" name="email" class="form-control" ng-model="subadmin.email" required mongoose-error/>
                                <p class="help-block" ng-show="form.email.$error.email && submitted">
                                    Doesn't look like a valid email.
                                </p>
                                <p class="help-block" ng-show="form.email.$error.required && submitted">
                                    What's your email address?
                                </p>
                                <p class="help-block" ng-show="form.email.$error.mongoose">
                                    {{ errors.email}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            Password
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group full_width" ng-class="{ 'has-success': form.password.$valid && submitted,
                                                  'has-error': form.password.$invalid && submitted }">
                                <input type="password" name="password" class="form-control" ng-model="subadmin.password"
                                       ng-minlength="3"
                                       required
                                       mongoose-error/>
                                <p class="help-block"
                                   ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                                    Password must be at least 3 characters.
                                </p>
                                <p class="help-block" ng-show="form.password.$error.mongoose">
                                    {{ errors.password}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            Confirm Password
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group full_width" ng-class="{ 'has-success': form.confirm_password.$valid && submitted,
                                                  'has-error': form.confirm_password.$invalid && submitted }">
                                <input type="password" name="confirm_password" id="confirm_password" class="form-control" ng-model="subadmin.confirm_password" required password-verify="subadmin.password" />
                                <span ng-show="form.confirm_password.$error.passwordVerify && submitted" class="help-block">Please make sure passwords match</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Access Permission</div>
                        <div class="col-sm-9">
                            <div ng-repeat="permission in accessPermision">
                                <label>
                                    <input type="checkbox" checklist-model="subadmin.accessPermission" checklist-value="permission.id"> {{permission.name}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="btn_wrap full_width">
                                    <input type="submit" value="send" class="btn" style="float:right">
                                </div>
                            </div>
                        </div>
                        <p class="help-block" ng-if="errors.other">{{errors.other}}</p>
                    </div>
            </form>
        </div>
    </div>
</div>
<div class="viewUser" ng-if="subAdminPage == 'view'">
    <div class="row">
        <div class="col-sm-3">First Name :</div>
        <div class="col-sm-6"> {{subAdminData.first_name}}</div>
    </div>  
    <div class="row">
        <div class="col-sm-3">Last Name :</div>
        <div class="col-sm-6"> {{subAdminData.last_name}}</div>
    </div>  
    <div class="row">
        <div class="col-sm-3">User Name :</div>
        <div class="col-sm-6"> {{subAdminData.username}}</div>
    </div>  
    <div class="row">
        <div class="col-sm-3">Email :</div>
        <div class="col-sm-6"> {{subAdminData.email}}</div>
    </div>  
    <div class="row" ng-if="accessPermisionList">
        <div class="col-sm-3">Access Permission :</div>
        <div class="col-sm-6"> 
            <div ng-repeat = "permission in accessPermisionList">
                {{permission.name}}
            </div>

        </div>
    </div> 

</div>

</div>