<div class="main-page">
    <div>
        <div class="top-bar">
            <div class="sidebar-header">
                <a ng-click="openCloseNav()" class="toggle-menu"><i class="fa fa-bars"></i></a>
                <div class="notifications" ng-click="showNotification()"><i class="fa fa-bell-o"></i>
                    <span class="count">{{notificationCount}}</span>
                    <ul class="notifyList" ng-if="notificationActive">
                        <li ng-repeat="notif in unreadNotification">
                            <span ng-if="notif.type == 'newuser'"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                            <span ng-if="notif.type == 'other'"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                            {{notif.message}}</li>
                    </ul>
                </div>
            </div>
            <div class="main-header">
                <div class="userPanel adminPanel">
                    <span class="usericon"></span>
                    <a href="javascript:void(0);" class="user">{{currentUserInfo.first_name}}<i class="fa fa-chevron-down"></i></a>
                    <ul class="usermenu">
                        <li class="logout" ng-click="logoutAdminPanel()"><a href="javascript:void(0);">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- MENU -->
        <div class="sidebar-main">
            <div id="mySidenav-admin" class="sidenav lateral-slide-menu">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li class="side-links"><a ui-sref="admin.dashboard">Dashboard</a></li>
                            <!--<li><a ui-sref="#">User Management</a></li>
                            <li><a ui-sref="#">Job Management</a></li>
                            <li><a ui-sref="#">Invoice Management</a></li>-->
                            <li class="side-links"><a ui-sref="admin.subscription">Subscription Management</a></li>
                            <!--<li><a ui-sref="#">Payment Management</a></li>
                            <li><a ui-sref="#">Hashtag Management</a></li>-->
                            <li class="side-links"><a ui-sref="admin.coupon">Coupon Management</a></li>
                            <!-- <li><a ui-sref="#">Category Management</a></li>
                             <li><a ui-sref="#">Report</a></li>-->
                            <li class="side-links"><a ui-sref="admin.content">Content Management System</a></li>
                            <li class="side-links"><a ui-sref="admin.notification">Notification</a></li>
                        </ul>
                    </div>
                    <br class="visible-xs visible-sm">
                </div>
            </div>
            <!-- main page -->
            <div id="main-admin" class="lateral-slide-menu-main-page">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</div>